html {
  font-size: 62.5%;
}

* {
  border: 10px;
  margin: 10px;
  padding: 15px;
  color: #ffffff;
}

body {
  background-image: url('image/background.jpg');
}

header {
  text-align: right;
  background-image: url('image/headermenu.jpg');
}

.linksmenu {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
}

.bemvindo {
  text-align: center;
  box-shadow: 10px 10px 10px 10px #4c255a;
  background-color: #252124;
}

.lain {
  float: left;
  height: 8%;
  width: 8%;
}

.gatinhoweb {
  float: right;
  height: 8%;
  width: 10%;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.8rem;
}

.manifestos {
  text-align: center;
  box-shadow: 10px 10px 10px 10px #4c255a;
  padding: 10px;
  background-color: #252124;
}

.manifesto1 {
  text-align: center;
  font-style: italic;
  font-style: oblique;
}

footer {
  text-align: center;
  box-shadow: 10px 10px 10px 10px #4c255a;
  background-color: #252124;
}

.footertexto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
}

.voltartopo {
  font-size: 1.4rem;
}

@media(max-width: 800px){
  .lain{
    width: 10%; 
  }
  .gatinhoweb{
    width: 9%;
  }
  .linksmenu{
    display: flex;
    flex-direction: column;
  }
  html{
    font-size: 45%;
  }
  h1{
    font-size: 1.9rem;
  }
  }